{% extends "base.html" %}
{% load static %}

{% block content %}

	{# 1. BUTTON TO TRIGGER THE ACTION #}
	<button type="button" class="mt-5 mb-3 btn btn-primary" id="js-upload-photos">
	  <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
	</button>

	{# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
	{# name="model field name = file in models.py" #}
	<input id="fileupload" type="file" name="file" multiple
	       style="display: none;"
	       data-url="{% url 'photos:basic-upload' %}"
	       data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

	{# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
	<table id="gallery" class="table table-bordered">
	  <thead>
	    <tr>
	      <th>Photo</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for photo in photos %}
	      <tr>
	        <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>

{% endblock %}

{% block script %}
	
	{# JQUERY FILE UPLOAD SCRIPTS #}
	<script src="{% static 'jquery/js/vendor/jquery.ui.widget.js' %}"></script>
	<script src="{% static 'jquery/js/jquery.iframe-transport.js' %}"></script>
	<script src="{% static 'jquery/js/jquery.fileupload.js' %}"></script>

	{# PHOTOS PAGE SCRIPTS #}
	<script src="{% static 'jquery/js/basic-upload.js' %}"></script>

{% endblock %}
